repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: ["--line-length=125"]
        types: [file, python]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--line-length=125", "--profile=black"]
        types: [file, python]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--ignore=E203,W503,W605", "--max-line-length=125"]
        types: [file, python]

  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        types: [file, python]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd cdk && npx eslint . --ext .ts,.tsx,.js,.jsx --fix --ignore-pattern "cdk.out/**"'
        language: system
        files: ^cdk/.*\.(ts|tsx|js|jsx)$
        exclude: ^cdk/cdk\.out
        types: [file]

      - id: prettier
        name: prettier
        entry: bash -c 'cd cdk && npx prettier --write .'
        language: system
        files: ^cdk/.*\.(ts|tsx|js|jsx|json|yml|yaml|md)$
        exclude: ^cdk/cdk\.out
        types: [file]

  - repo: https://github.com/aws-samples/automated-security-helper
    rev: 'v3.0.0' # update with the latest tagged version in the repository
    hooks:
      - id: ash
        stages: [ manual ]
        # uncomment the line below if using "finch" on MacOS
        # args: [ "-f" ]

  - repo: https://github.com/sbrunner/pre-commit-copyright
    rev: 1.6.1
    hooks:
      - id: copyright
        name: update copyright
        exclude: |
          (?x)^(
            doc/.*|
            ^\..+|
            .+\.md|
            test/data/.*|
            src/aws/osml/data_intake/schemas/.*|
            LICENSE|
            tox.ini|
            pyproject.toml|
            setup.cfg|
            setup.py|
            py.typed|
            bin/bulk/config/bulk_config_template.json|
            bin/bulk/config/.gitignore|
            cdk/.*
          )$
      - id: copyright-required
        name: require copyright
        exclude: |
          (?x)^(
            doc/.*|
            ^\..+|
            .+\.md|
            test/data/.*|
            src/aws/osml/data_intake/schemas/.*|
            LICENSE|
            tox.ini|
            pyproject.toml|
            setup.cfg|
            setup.py|
            py.typed|
            bin/bulk/config/bulk_config_template.json|
            bin/bulk/config/.gitignore|
            cdk/.*
          )$
