name: release

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  tox:
    uses: ./.github/workflows/tox.yml
    secrets: inherit
  docs:
    uses: ./.github/workflows/docs.yml
    secrets: inherit
